.rectangle_2{
    width: 320px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    display: flex;
    position: relative;
}
.span_pay{
    width: 280px;
    height: 15px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding:14px 20px 15px 20px;
}
.wrapper_arrow{
    position: absolute;
    right: 0;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.span_arrow_right{
    /*font-family: 'Material Icons';*/
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
}