:root {
    --Dark_Shade_100: #1F2041;
    --Dark_Shade_75: rgba(31, 32, 65, 0.75);
    --Dark_Shade_50: rgba(31, 32, 65, 0.5);
    --Dark_Shade_25: rgba(31, 32, 65, 0.25);
    --Dark_Shade_5: rgba(31, 32, 65, 0.05);
    --Purple: #BC9CFF;
    --Blue: #8BA4F9;
    --Green: #6FCF97;
    --font_Montserra: 'Montserrat', sans-serif;
    --H1_size: 24px;
    --Primary_Gradient: linear-gradient(180deg, var(--Purple) 0%, var(--Blue) 100%);
    --Border_Radius_Gradient: linear-gradient(#fff, #fff) padding-box, linear-gradient(180deg, var(--Purple) 0%, var(--Blue) 100%) border-box;
    --Border_Gradient: linear-gradient(180deg, var(--Purple) 0%, var(--Blue) 100%) 1;
}

* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    font-family: var(--font_Montserra);
}

.gender-choice {
    width: auto;
    margin: 5px 0 0 2px;

}

/*CHECK*/
.radio {
    padding-left: 30px;
    margin-right: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--Dark_Shade_50);
    /*cursor: pointer;*/
}

.radio__check {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.radio__box {
    margin-left: -30px;
    position: absolute;
    top: 3px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid var(--Dark_Shade_25);
    border-radius: 10px;
}

.radio__box__circle {
    /*display: block;*/
    display: none;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 12px;
    height: 12px;
    background: #6FCF97;
    border-radius: 10px;
}

/*CHECKED*/
.radio__check:checked + .radio__box .radio__box__circle {
    display: block;
}

/*FOCUSED*/


/*HOVER*/

