:root {
    --Dark_Shade_100: #1F2041;
    --Dark_Shade_75: rgba(31, 32, 65, 0.75);
    --Dark_Shade_50: rgba(31, 32, 65, 0.5);
    --Dark_Shade_25: rgba(31, 32, 65, 0.25);
    --Dark_Shade_5: rgba(31, 32, 65, 0.05);
    --Purple: #BC9CFF;
    --Blue: #8BA4F9;
    --Green: #6FCF97;
    --font_Montserra: 'Montserrat', sans-serif;
    --H1_size: 24px;
    --Primary_Gradient : linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    --Border_Gradient : linear-gradient(#fff, #fff) padding-box ,linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) border-box;
}

*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    font-family: var(--font_Montserra);
}

.button_link {
    display: flex;
    /*border: 1px solid var(--Green);*/
    height: fit-content;
    width: fit-content;
}


.link {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    
}
.button_link  a{
    color: var(--Purple);
    text-decoration: none;
}
.button_link a:hover{
    color: var(--Dark_Shade_50);
}