:root {
    --Dark_Shade_100: #1F2041;
    --Dark_Shade_75: rgba(31, 32, 65, 0.75);
    --Dark_Shade_50: rgba(31, 32, 65, 0.5);
    --Dark_Shade_25: rgba(31, 32, 65, 0.25);
    --Dark_Shade_5: rgba(31, 32, 65, 0.05);
    --Purple: #BC9CFF;
    --Blue: #8BA4F9;
    --Green: #6FCF97;
    --font_Montserra: 'Montserrat', sans-serif;
    --H1_size: 24px;
    --Primary_Gradient: linear-gradient(180deg, var(--Purple) 0%, var(--Blue) 100%);
    --Border_Radius_Gradient: linear-gradient(#fff, #fff) padding-box, linear-gradient(180deg, var(--Purple) 0%, var(--Blue) 100%) border-box;
    --Border_Gradient: linear-gradient(180deg, var(--Purple) 0%, var(--Blue) 100%) 1;
}

* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    font-family: var(--font_Montserra);
}

.option {
    display: flex;
    flex-direction: column;
    width: 222px;
    margin: 0 0 0 2px;
}

/*CHECK*/
.check {
    padding-left: 30px;
    margin: 2px 0 10px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--Dark_Shade_50);
    height: 129%;
    /*cursor: pointer;*/
}

.check__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check__box {
    margin-left: -30px;
    position: absolute;
    width: 18px;
    height: 18px;
    background: transparent;
    border: 1px solid var(--Dark_Shade_25);
    border-radius: 4px;
}

.check__box__tick {
    display: none;
    position: absolute;
    right: 6px;
    top: 4px;
    width: 4px;
    height: 6px;
    border-right: 2px solid var(--Purple);
    border-bottom: 2px solid var(--Purple);
    transform: rotate(45deg);
}

/*CHECKED*/
.check__input:checked + .check__box .check__box__tick {
    display: block;
}
.check__input:checked + .check__box {
    border: 1px solid var(--Purple);
}

FOCUSED
.check__input:focus + .check__box {
    border: 1px solid var(--Purple);
}

/*HOVER*/
.check__input:hover + .check__box {
    border: 1px solid var(--Purple);
}
